:root {
  --dark: #1b1323;
  --light: #DFD2FE;

  --accent-1: #A591FA; 
  --accent-2: #8065EE; 
  --accent-3: #6042E2; 

  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	scrollbar-width: none;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
}

.hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--dark);
}
