:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 1);
  background-color: #100c14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100dvh;
}

.maintenance {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	display: none;
}

.hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
